{
    "root": true,
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:vue/essential",
        "@vue/typescript"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "sourceType": "module",
        "ecmaFeatures": {
            "legacyDecorators": true
        }
    },
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "__static": true
    },
    "rules": {
        "@typescript-eslint/ban-ts-comment": 1,
        "no-case-declarations": 0
    }
}
